*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    color: #263138;

}

header{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    border-color: pink;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24;
    padding-bottom: 24;
}

header a {
    color: #52272e;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
   
 }

h1 , h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

p{
    line-height: 150%;
    margin-bottom: 32px;
}

.botao{
    background-color: skyblue;
    color: #52272e;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 10px;
    text-decoration: none;
}

.botao-transparente {

  background-color: #262a2c1f;
  padding: 16px 32px;
   color: #52272e;
   margin-left: 8px;
   border-bottom-left-radius: 7px;
   border-top-right-radius: 7px;
   border-color: #52272e;
   text-underline-offset: 4px;

}

.imgprincipal{
   border: solid 5px;
   border-color: #ffe4e1;
   background-color: skyblue;
   border-top-right-radius: 30%;
   border-bottom-left-radius: 30%;
}

.absoluto{
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: solid 2px;
    border-color: skyblue;
 

}

#clinica{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px 128px 80px; 
    border-bottom: solid 1px; 
   border-color: skyblue;
  
}





#clinica img{
    background-color: #ffe4e1;
    border: solid 2px;
    border-color: skyblue;
    border-radius: 30% 30%;
}

.text-clinica{
   margin-right: 55px;
   margin-top: 30px;
}


#farmacia{
    text-align: center;
    padding: 90px;
}

#farmacia img{
    margin: 64px auto; 
    background-color:#ffe4e1 ;
    border-radius: 30% 30%;

}

#farmacia .paragrafo{
    max-width: 950px;
    margin: 0 auto;
   
}


#duvidas{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#duvidas .img{
    border: solid 5px;
    background-color:skyblue;
    border-radius: 0 50px 0 50px;
    border-color:#ffe4e1;
}

.duvida{
    position: relative;
}

.duvida h3{
    border: solid 2px;
    border-color: skyblue;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img{
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo{
   border-right: solid 1px skyblue;
   border-left: solid 1px skyblue;
   border-bottom: solid 1px skyblue;
   border-radius: 0 0 8px 8px ;
   margin-top: -8px;
   padding: 24px;
}

    